.idea
.idea/

.env.local
.env

# react
# Logs
/module5/**/logs
/module5/**/*.log
/module5/**/npm-debug.log*
/module5/**/yarn-debug.log*
/module5/**/yarn-error.log*
/module5/**/pnpm-debug.log*
/module5/**/lerna-debug.log*

/module5/**/node_modules
/module5/**/dist
/module5/**/dist-ssr
/module5/**/*.local

# Editor directories and files
/module5/**/.vscode/*
/module5/**/!.vscode/extensions.json
/module5/**/.idea
/module5/**/.DS_Store
/module5/**/*.suo
/module5/**/*.ntvs*
/module5/**/*.njsproj
/module5/**/*.sln
/module5/**/*.sw?

/module5/**/.gitignore

