.idea
.idea/

.env.local
.env

# react
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/module5/**/node_modules
/module5/**/.pnp
/module5/**/.pnp.js

# testing
/module5/**/coverage

# production
/module5/**/build

# misc
/module5/**/.DS_Store
/module5/**/.env.development.local
/module5/**/.env.test.local
/module5/**/.env.production.local

/module5/**/npm-debug.log*
/module5/**/yarn-debug.log*
/module5/**/yarn-error.log*
/module5/**/.gitignore
